<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong></a>
<nav id="sz-user-dropdown" class="sz sz-dropdown dropdown dropdown-container">
<header>
<h3><a href="{{ U_USER_PROFILE }}" title="{{ L_READ_PROFILE }}">{{ CURRENT_USERNAME_SIMPLE }}</a>
<a href="{{ U_PROFILE }}" title="{{ L_PROFILE }}"><i class="icon fa-edit fa-fw" aria-hidden="true"></i></a></h3>
</header>
<small><strong>Póki co to tylko makieta, linki raczej nie działaja.</strong></small>
<hr>
<ul class="sz-icons">
    <li>
	<a href="{U_PRIVATEMSGS}" role="menuitem" title="{{ L_PRIVATE_MESSAGES }}"><i class="icon fa-envelope fa-fw" aria-hidden="true"></i></a>
    </li>
</ul>
<footer>
<ul class="icons">
    <li>
    <a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem"><i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>{L_FAQ}</span></a>
    </li>
</ul>
</footer>
</nav>