<nav id="sz-user-dropdown" class="sz sz-dropdown">
<header>
<h3><a href="{{ U_USER_PROFILE }}" title="{{ L_READ_PROFILE }}">{{ CURRENT_USERNAME_SIMPLE }}</a>
<a href="{{ U_PROFILE }}" title="{{ L_PROFILE }}"><i class="icon fa-edit fa-fw" aria-hidden="true"></i></a></h3>
</header>
<small><strong>Póki co to tylko makieta, linki raczej nie działaja.</strong></small>
<hr>
<ul class="icons">
    <li><i class="icon fa-globe fa-fw" aria-hidden="true"></i></li>
    <li><i class="icon fa-envelope fa-fw" aria-hidden="true"></i></li>
</ul>
<footer>Stopka</footer>
</nav>