{# 
 # partials/global_header.html.twig
 #}
<header id="global-header" class="responsive-hide">
{% block header %}
   <a title="{{ L_SITE_HOME }}" class="logo" href="{{ BOARD_URL }}">
      <img src="{{ T_THEME_PATH }}/images/banner.png" alt="{{ SITENAME }}">
   </a>
   {% if U_ACP %}
     {{ U_ACP }}
   {% endif %}
{% endblock header %}
</header>
