{# 
 # partials/global_header.html.twig
 #}
<header id="global-header" class="responsive-hide">
{% block header %}
   <a title="{{ L_SITE_HOME }}" class="logo" href="{{ BOARD_URL }}">
      <img src="{{ T_THEME_PATH }}/images/banner.png" alt="{{ SITENAME }}">
   </a>
{#    User menu: #}
<nav class="user-menu">
   {% if S_USER_LOGGED_IN %}
   <a class="button" href="{{ U_PROFILE }}">
      <i class="icon fa-user fa-fw"></i><span>{{ S_USERNAME }}</span>
   </a>
      {% if U_ACP %}
      <a class="button" title="Administracja" href="{{ U_ACP }}">
         <i class="icon fa-shield fa-fw"></i>
      </a>  
      {% endif %}
      {% if S_DISPLAY_PM %}
      <a class="button" href="{U_PRIVATEMSGS}" role="menuitem">
         <i class="icon fa-inbox fa-fw" aria-hidden="true" title="{{ L_PRIVATE_MESSAGES }}"></i><strong class="badge<!-- IF not PRIVATE_MESSAGE_COUNT --> hidden<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong>
      </a>
      {% endif %}
   {% else %}
   <a class="button" href="{{ U_LOGIN_LOGOUT }}" role="menuitem">
      <i class="icon fa-power-off fa-fw" aria-hidden="true"></i>{{ L_LOGIN_LOGOUT }}
   </a>
   <a class="button" href="{{ U_REGISTER }}" role="menuitem">
      <i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i>{L_REGISTER}
   </a>
   {% endif %}
</nav>
{% endblock header %}
</header>
