{# 
 # partials/global_header.html.twig
 #}
<header id="global-header" class="responsive-hide">
{% block header %}
   <a title="{{ L_SITE_HOME }}" class="logo" href="{{ BOARD_URL }}">
      <img src="{{ T_THEME_PATH }}/images/banner.png" alt="{{ SITENAME }}">
   </a>
{#    User menu: #}
<nav class="user-menu">
   {% if S_USER_LOGGED_IN %}
   <a class="button" href="{{ U_PROFILE }}">
      <i class="icon fa-user fa-fw"></i><span>Panel profilu</span>
   </a>
   {% else %}
   <a class="button" href="{{ U_LOGIN_LOGOUT }}" role="menuitem">
      <i class="icon fa-power-off fa-fw" aria-hidden="true"></i>{{ L_LOGIN_LOGOUT }}
   </a>
   <a class="button" href="{{ U_REGISTER }}" role="menuitem">
      <i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i>{L_REGISTER}
   </a>
   {% endif %}
</nav>
{% endblock header %}
</header>
