{# 
 # partials/global_header.html.twig
 #}
<header id="global-header" class="responsive-hide">
{% block header %}
   <a title="{{ L_SITE_HOME }}" class="logo" href="{{ BOARD_URL }}">
      <img src="{{ T_THEME_PATH }}/images/banner.png" alt="{{ SITENAME }}">
   </a>
{#    User menu: #}
<nav class="user-menu">
   {% if S_USER_LOGGED_IN %}
   <a class="button" href="{{ U_PROFILE }}">
      {{ CURRENT_USER_AVATAR }}{{ CURRENT_USERNAME_SIMPLE }}
   </a>
   {% if S_NOTIFICATIONS_DISPLAY %}
   <a href="{U_VIEW_ALL_NOTIFICATIONS}" title="{{ L_NOTIFICATIONS }}" id="notification_list_button" class="button">
      {% if NOTIFICATIONS_COUNT %}
      <strong class="badge">{NOTIFICATIONS_COUNT}</strong>
      {% endif %}
      <i class="icon fa-bell fa-fw" aria-hidden="true"></i>
   </a>
   {% endif %}
   {% if S_DISPLAY_PM %}
   <a class="button" href="{U_PRIVATEMSGS}" role="menuitem">
      {% if PRIVATE_MESSAGE_COUNT %}
         <strong class="badge">{PRIVATE_MESSAGE_COUNT}</strong>
      {% endif %}
      <i class="icon fa-envelope fa-fw" aria-hidden="true" title="{{ L_PRIVATE_MESSAGES }}"></i>
      </a>
   {% endif %}
   {% if U_ACP %}
   <a class="button" title="Administracja" href="{{ U_ACP }}">
      <i class="icon fa-shield fa-fw"></i>
   </a>  
   {% endif %}
   <a class="button" href="{{ U_LOGIN_LOGOUT }}" title="Wyloguj">
      <i class="icon fa-power-off fa-fw" aria-hidden="true"></i>
   </a>
   {% else %}
   <a class="button" href="{{ U_LOGIN_LOGOUT }}" role="menuitem">
      <i class="icon fa-power-off fa-fw" aria-hidden="true"></i>{{ L_LOGIN_LOGOUT }}
   </a>
   <a class="button" href="{{ U_REGISTER }}" role="menuitem">
      <i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i>{L_REGISTER}
   </a>
   {% endif %}
</nav>
{% endblock header %}
<!-- Test variables:
{CURRENT_USERNAME_SIMPLE}
{CURRENT_USERNAME_FULL}
-->
</header>
