<section class="category" id="f-{{ forumrow.FORUM_ID }}" {% if forumrow.FORUM_IMAGE %} style="background-image: url({{ forumrow.FORUM_IMAGE_SRC }});"{% endif %} >
    <div class="inner">
        <header class="responsive-hide">
            <h2><a href="{{ forumrow.U_VIEWFORUM }}">{{ forumrow.FORUM_NAME }}</a></h2>
            <div class="description ">{{ forumrow.FORUM_DESC }}</div>
        </header>
    <ul class="topiclist">
        <li class="header">
            {% EVENT forumlist_body_category_header_row_prepend %}
            <dl class="row-item">
                <dt class="hide responsive-show"><h3><a href="{{ forumrow.U_VIEWFORUM }}">{{ forumrow.FORUM_NAME }}</a></h3></dt>
            </dl>
            {% EVENT forumlist_body_category_header_row_append %}
        </li>
    </ul>
    <ul class="topiclist forums">