<section class="category" id="f-{{ row.FORUM_ID }}" {% if row.FORUM_IMAGE %} style="background-image: url({{ row.FORUM_IMAGE_SRC }});"{% endif %} >
        <header class="responsive-hide">
            <h1><a href="{{ row.U_VIEWFORUM }}">{{ row.FORUM_NAME }}</a></h1>
            <div class="description ">{{ row.FORUM_DESC }}</div>
        </header>
    <ul class="topiclist">
        <li class="header">
            {% EVENT forumlist_body_category_header_row_prepend %}
            <dl class="row-item">
                <dt class="hide responsive-show"><h3><a href="{{ row.U_VIEWFORUM }}">{{ row.FORUM_NAME }}</a></h3></dt>
            </dl>
            {% EVENT forumlist_body_category_header_row_append %}
        </li>
    </ul>