<section class="category {{ row.FORUM_IMAGE ? 'image-category' }}" id="f-{{ row.FORUM_ID }}">
        <header
         style="background-image: url({{ row.FORUM_IMAGE_SRC }})"
        >
            <h1><a href="{{ row.U_VIEWFORUM }}">{{ row.FORUM_NAME }}</a></h1>
            <div class="description ">{{ row.FORUM_DESC }}</div>
        </header>