{% macro forum(row) %}
<article class="forum">
    <header>
        {% if row.FORUM_IMAGE %}
        {% set image = row.FORUM_IMAGE %}
        {% EVENT forumlist_body_forum_image_before %}
        <span class="forum-image">{% EVENT forumlist_body_forum_image_prepend %}{{ image }}{% EVENT forumlist_body_forum_image_append %}</span>
        {% EVENT forumlist_body_forum_image_after %}
        {% endif %}

    <h2><a href="{{ row.U_VIEWFORUM }}" class="forumtitle {{ row.S_UNREAD_FORUM ? 'unread' : 'read' }}">{{ row.FORUM_NAME}}</a>
        {% if  row.S_FEED_ENABLED %}
        <a class="feed-icon-forum" title="{{ L_FEED }} - {{ row.FORUM_NAME }}" href="/feed/forum/{{ row.FORUM_ID}}">
        <i class="icon fa-rss fa-lg fa-fw icon-orange" aria-hidden="true"></i><span class="sr-only" {{ row.FORUM_NAME }}</span>
        </a>
        {% endif %}
        </h2>
        <small class="topics">{{ lang('TOPICS') }}: {row.TOPICS} </small>&bull; <small class="posts">{L_POSTS}: {row.POSTS}</small>
        {% if row.MODERATORS %}
        <small>{row.L_MODERATOR_STR}{L_COLON}</small><span class="moderators">{row.MODERATORS}</span>
        {% endif %}
        {% if row.FORUM_DESC %}
            <div class="description">
                {{ row.FORUM_DESC }}
            </div>
        {% endif %}
    </header>
</article>
{% endmacro %}
{% macro link(row) %}
<a href="{{ row.U_VIEWFORUM }}">
<article class="link">
    <h2>{{ row.FORUM_NAME }}</h2>
    <small class="clicks">{L_REDIRECTS}{L_COLON} <strong>{row.CLICKS}</small>
    <div class="description">{{ row.FORUM_DESC }}</div>
    {% if row.FORUM_IMAGE %}
    {% EVENT forumlist_body_forum_image_before %}
    <span class="forum-image">{% EVENT forumlist_body_forum_image_prepend %}{{ row.FORUM_IMAGE }}{% EVENT forumlist_body_forum_image_append %}</span>
    {% EVENT forumlist_body_forum_image_after %}
    {% endif %}
</article>
</a>
{% endmacro %}